
body {
	overflow: hidden;
}


#myGanttContainer {
	position:absolute; 
	width:100%; 
	height:100%;
	border:1px solid #008080;
	overflow: auto;
}



table.ganttTable {
	position:absolute; 
	width:30%; 
	height:100%; 
	left:1px;
	top:1px;
	border:hidden;
	background-color : #808080;
	overflow: hidden;
}

tbody.ganttTableBody {
	width:100%; 
	height:250px; 
	overflow-y: auto;
	overflow-x: hidden;
}

.ganttTableCell {
    background-color: #f0f8ff;
}


.ganttHeader {
	position:absolute; 
	width:70%; 
	height:150px; 
	border:hidden;
	background-color : #808080;
	overflow: hidden;
}


.ganttBody {
	position:absolute; 
	width:70%; 
	height:250px; 
	border:hidden;
	background-color : #808080;
	overflow-x: scroll;
	overflow-y: scroll;
}

.ganttHeaderYearLine {
	position:absolute; 
	width:100%;
	height:25px;
	top:0px;
	left:0px;
}

.ganttHeaderQuarterLine {
	position:absolute; 
	width:100%;
	height:25px;
	left:0px;
}

.ganttHeaderMonthLine {
	position:absolute; 
	width:100%;
	height:25px;
}

.ganttHeaderWeekLine {
	position:absolute; 
	width:100%;
	height:25px;
}

.ganttHeaderDateLine {
	position:absolute; 
	width:100%;
	height:25px;
}

.ganttHeaderYearUnit {
	position:absolute; 
	width:25px;
	height:25px;
	top:2px;
    background-color: #f0f8ff;
}

.ganttHeaderQuarterUnit {
	position:absolute; 
	width:25px;
	height:25px;
	top:2px;
    background-color: #f0f8ff;
}

.ganttHeaderMonthUnit {
	position:absolute; 
	width:25px;
	height:25px;
	top:2px;
    background-color: #f0f8ff;
}

.ganttHeaderWeekUnit {
	position:absolute; 
	width:25px;
	height:25px;
	top:2px;
    background-color: #f0f8ff;
}

.ganttHeaderDateUnit {
	position:absolute; 
	width:25px;
	height:25px;
	top:2px;
	opacity: 0.6;
    background-color: #f0f8ff;
}


.ganttBodyWeekUnit {
	position:absolute; 
	width:25px;
	height:100%;
	top:1px;
	opacity: 0.6;
	margin : none;
    border : hidden;
}


.ganttBar {
	position:absolute; 
	width:25px;
	height:25px;
	opacity: 0.8;
	margin : none;
    border : hidden;
    background-color: #FF1493;
}